astropy==7.0.1
astropy-iers-data==0.2025.3.24.0.35.32
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
h5py==3.11.0
imap-data-access==0.16.0
importlib_resources==6.4.0
kiwisolver==1.4.5
matplotlib==3.9.0
naif-leapseconds==2023.5.31
numpy==2.0.1
packaging==24.1
pillow==10.4.0
pyerfa==2.0.1.5
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy==1.13.1
six==1.16.0
spacepy==0.7.0
spiceypy==6.0.0
scikit-learn==1.6.1
uncertainties==3.2.2
zipp==3.19.2
sammi-cdf==1.0.0
healpy==1.18; sys_platform!='win32'
bitstring==4.3.0
imap-processing==0.12.0
netCDF4==1.7.2