primary_data_variable: &primary_data_variable
  VAR_TYPE: data
  VARIABLE_PURPOSE: primary var, summary
  DEPEND_0: epoch
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series

support_data: &support_data
  VAR_TYPE: support_data
  DISPLAY_TYPE: no_plot
  DEPEND_0: epoch
  RECORD_VARYING: RV

float_data: &float_data
  DATA_TYPE: CDF_FLOAT
  FORMAT: F15.3
  VALIDMIN: 0
  VALIDMAX: 10000000000
  FILLVAL: -1.000000E+31

epoch:
  NAME: epoch
  CATDESC: Time, number of nanoseconds since J2000 with leap seconds included
  VAR_TYPE: support_data
  DISPLAY_TYPE: no_plot
  DATA_TYPE: CDF_TIME_TT2000
  FIELDNAM: Epoch
  RECORD_VARYING: RV
  LABLAXIS: epoch
  UNITS: ns
  VALIDMIN: 2010-01-01T00:00:00.000000000
  VALIDMAX: 2099-12-31T00:00:00.000000000
  FILLVAL: 9999-12-31T23:59:59.999999999
  SCALETYP: linear
  TIME_BASE: J2000
  TIME_SCALE: TT
  DELTA_PLUS_VAR: epoch_delta
  DELTA_MINUS_VAR: epoch_delta
  MONOTON: INCREASE
  REFERENCE_POSITION: Rotating Earth Geoid
  SI_CONVERSION: 1e-9>seconds
epoch_delta:
  <<: *support_data
  NAME: epoch_delta
  CATDESC: epoch_DELTA
  FIELDNAM: epoch_delta
  DATA_TYPE: CDF_INT8
  FORMAT: I19
  UNITS: ns
  VALIDMIN: 0
  VALIDMAX: 86000000000000
  FILLVAL: -9223372036854775808
  SCALETYP: linear
  SCALEMIN: 0
  SCALEMAX: 86000000000000
  SI_CONVERSION: 1e-9>seconds
c_to_o_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: c_to_o_ratio
  CATDESC: Elemental Abundance Ratio C to O
  FIELDNAM: Ratio C to O
  DATA_TYPE: CDF_REAL4
  LABLAXIS: C/O
  SCALETYP: linear
  UNITS: ' '

mg_to_o_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: mg_to_o_ratio
  CATDESC: Elemental Abundance Ratio Mg to O
  FIELDNAM: Ratio Mg to O
  DATA_TYPE: CDF_REAL4
  LABLAXIS: Mg/O
  SCALETYP: linear
  UNITS: ' '

fe_to_o_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: fe_to_o_ratio
  CATDESC: Elemental Abundance Ratio Fe to O
  FIELDNAM: Ratio Fe to O
  DATA_TYPE: CDF_REAL4
  LABLAXIS: Fe/O
  SCALETYP: linear
  UNITS: ' '

c6_to_c5_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: c6_to_c5_ratio
  CATDESC: Charge State Ratio C6 to C5
  FIELDNAM: Ratio C6 to C5
  DATA_TYPE: CDF_REAL4
  LABLAXIS: C6/C5
  SCALETYP: linear
  UNITS: ' '

c6_to_c4_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: c6_to_c4_ratio
  CATDESC: Charge State Ratio C6 to C4
  FIELDNAM: Ratio C6 to C4
  DATA_TYPE: CDF_REAL4
  LABLAXIS: C6/C4
  SCALETYP: linear
  UNITS: ' '

o7_to_o6_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: o7_to_o6_ratio
  CATDESC: Charge State Ratio O7 to O6
  FIELDNAM: Ratio 07 to O6
  DATA_TYPE: CDF_REAL4
  LABLAXIS: O7/O6
  SCALETYP: linear
  UNITS: ' '

felo_to_fehi_ratio:
  <<: *primary_data_variable
  <<: *float_data
  NAME: felo_to_fehi_ratio
  CATDESC: Charge State Ratio Fe Low (+6 - +12) to Fe High (+13 - +17)
  FIELDNAM: Ratio FeLo to FeHi
  DATA_TYPE: CDF_REAL4
  LABLAXIS: FeLo/FeHi
  SCALETYP: linear
  UNITS: ' '
