epoch:
  NAME: epoch
  DATA_TYPE: CDF_TIME_TT2000
  CATDESC: Time, number of nanoseconds since J2000 with leap seconds included
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Epoch
  FORMAT: ' '
  LABLAXIS: Epoch
  UNITS: ns
  VALIDMIN: 2010-01-01T00:00:00.000000000
  VALIDMAX: 2099-12-31T00:00:00.000000000
  FILLVAL: 9999-12-31T23:59:59.999999999
  SCALETYP: linear
  TIME_BASE: J2000
  TIME_SCALE: TT
  DELTA_PLUS_VAR: epoch_delta
  DELTA_MINUS_VAR: epoch_delta
  MONOTON: INCREASE
  REFERENCE_POSITION: Rotating Earth Geoid
  SI_CONVERSION: 1e-9>seconds
epoch_delta:
  NAME: epoch_delta
  DATA_TYPE: CDF_INT8
  CATDESC: Epoch delta
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Epoch Delta
  FORMAT: I19
  UNITS: ns
  VALIDMIN: 0
  VALIDMAX: 86000000000000
  FILLVAL: -9223372036854775808
  SCALETYP: linear
  LABLAXIS: Epoch delta
  DEPEND_0: epoch
pui_cooling_index:
  NAME: pui_cooling_index
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion cooling index
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Cooling Index
  FORMAT: F19.3
  LABLAXIS: PUI cooling idx
  UNITS: ' '
  VALIDMIN: 0
  VALIDMAX: 5
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  SCALEMIN: 0
  SCALEMAX: 5
  DELTA_PLUS_VAR: pui_cooling_index_uncert
  DELTA_MINUS_VAR: pui_cooling_index_uncert
pui_cooling_index_uncert:
  NAME: pui_cooling_index_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion cooling index uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI Cooling Index Uncertainty
  LABLAXIS: PUI cooling idx uncertainty
  FORMAT: F19.3
  UNITS: ' '
  VALIDMIN: 0
  VALIDMAX: 5
  FILLVAL: -1.000000e+31
pui_ionization_rate:
  NAME: pui_ionization_rate
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion ionization rate
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Ionization Rate
  FORMAT: F19.3
  LABLAXIS: PUI IR
  UNITS: s!E-1!N
  VALIDMIN: 0
  VALIDMAX: 1.0
  FILLVAL: -1.000000e+31
  SCALE_TYP: linear
  SCALEMIN: 0
  SCALEMAX: 3.0e-7
  DELTA_PLUS_VAR: pui_ionization_rate_uncert
  DELTA_MINUS_VAR: pui_ionization_rate_uncert
pui_ionization_rate_uncert:
  NAME: pui_ionization_rate_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion ionization rate uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI Ionization Rate Uncertainty
  LABLAXIS: PUI IR uncertainty
  FORMAT: F19.3
  UNITS: s!E-1!N
  VALIDMIN: 0
  VALIDMAX: 1.0
  FILLVAL: -1.000000e+31
pui_cutoff_speed:
  NAME: pui_cutoff_speed
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion cutoff speed
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Cutoff Speed
  FORMAT: F19.3
  LABLAXIS: PUI cutoff speed
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  SCALEMIN: 0
  SCALEMAX: 1000
  DELTA_PLUS_VAR: pui_cutoff_speed_uncert
  DELTA_MINUS_VAR: pui_cutoff_speed_uncert
pui_cutoff_speed_uncert:
  NAME: pui_cutoff_speed_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion cutoff speed uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI Cutoff Speed Uncertainty
  LABLAXIS: PUI cutoff speed uncertainty
  FORMAT: F19.3
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
pui_background_count_rate:
  NAME: pui_background_count_rate
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion background count rate
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Background Count Rate
  FORMAT: F19.3
  LABLAXIS: PUI background count rate
  UNITS: s!E-1!N
  VALIDMIN: 0
  VALIDMAX: 9223372036854775807
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  SCALEMIN: 0
  SCALEMAX: 0.2
  DELTA_PLUS_VAR: pui_background_count_rate_uncert
  DELTA_MINUS_VAR: pui_background_count_rate_uncert
pui_background_count_rate_uncert:
  NAME: pui_background_count_rate_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion background count rate uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI background count rate Uncertainty
  LABLAXIS: PUI background count rate uncertainty
  FORMAT: F19.3
  UNITS: s!E-1!N
  VALIDMIN: 0
  VALIDMAX: 1.0
  FILLVAL: -1.000000e+31
pui_density:
  NAME: pui_density
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion density
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Density
  FORMAT: F19.3
  LABLAXIS: PUI density
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 9223372036854775807
  FILLVAL: -1.000000e+31
  SCALETYP: log
  SCALEMIN: 0.0001
  SCALEMAX: 0.0025
  DELTA_PLUS_VAR: pui_density_uncert
  DELTA_MINUS_VAR: pui_density_uncert
pui_density_uncert:
  NAME: pui_density_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion density uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI Density Uncertainty
  LABLAXIS: PUI density uncertainty
  FORMAT: F19.3
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 1.0
  FILLVAL: -1.000000e+31
pui_temperature:
  NAME: pui_temperature
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion temperature
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: PUI Temperature
  FORMAT: F19.3
  LABLAXIS: PUI temperature
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 5.0e+7
  FILLVAL: -1.000000e+31
  SCALETYP: log
  SCALEMIN: 50000
  SCALEMAX: 50000000
  DELTA_PLUS_VAR: pui_temperature_uncert
  DELTA_MINUS_VAR: pui_temperature_uncert
pui_temperature_uncert:
  NAME: pui_temperature_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Pickup ion temperature uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: PUI Temperature Uncertainty
  LABLAXIS: PUI temperature uncertainty
  FORMAT: F19.3
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 5.0e+7
  FILLVAL: -1.000000e+31
proton_sw_speed:
  NAME: proton_sw_speed
  DATA_TYPE: CDF_REAL4
  CATDESC: Speed of proton solar wind
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Proton Solar Wind Speed
  FORMAT: F19.3
  LABLAXIS: Proton solar wind speed
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  DELTA_PLUS_VAR: proton_sw_speed_uncert
  DELTA_MINUS_VAR: proton_sw_speed_uncert
  SCALEMIN: 0
  SCALEMAX: 1000
proton_sw_speed_uncert:
  NAME: proton_sw_speed_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Proton solar wind speed uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Proton Solar Wind Speed Uncertainty
  FORMAT: F19.3
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
  LABLAXIS: H+ SW speed uncertainty
proton_sw_temperature:
  NAME: proton_sw_temperature
  DATA_TYPE: CDF_REAL4
  CATDESC: Temperature of proton solar wind
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Proton Solar Wind Temperature
  FORMAT: F19.3
  LABLAXIS: Proton solar wind T
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 7000000
  FILLVAL: -1.000000e+31
  SCALETYP: log
  DELTA_PLUS_VAR: proton_sw_temperature_uncert
  DELTA_MINUS_VAR: proton_sw_temperature_uncert
  SCALEMIN: 1000
  SCALEMAX: 240000
proton_sw_temperature_uncert:
  NAME: proton_sw_temperature_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Proton solar wind temperature uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Proton SW Temperature Uncertainty
  FORMAT: F19.3
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 7000000
  FILLVAL: -1.000000e+31
  LABLAXIS: H+ SW T uncertainty
proton_sw_density:
  NAME: proton_sw_density
  DATA_TYPE: CDF_REAL4
  CATDESC: Density of proton solar wind
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Density of Proton Solar Wind
  FORMAT: F19.3
  LABLAXIS: H+ SW density
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 150
  FILLVAL: -1.000000e+31
  SCALETYP: log
  DELTA_PLUS_VAR: proton_sw_density_uncert
  DELTA_MINUS_VAR: proton_sw_density_uncert
  SCALEMIN: 0.1
  SCALEMAX: 16
proton_sw_density_uncert:
  NAME: proton_sw_density_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Proton solar wind density uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Proton Solar Wind Density Uncertainty
  FORMAT: F19.3
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 150
  FILLVAL: -1.000000e+31
  LABLAXIS: H+ SW density uncertainty
proton_sw_clock_angle:
  NAME: proton_sw_clock_angle
  DATA_TYPE: CDF_REAL4
  CATDESC: Clock angle of proton solar wind
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Clock Angle Of Proton Solar Wind
  FORMAT: F19.3
  LABLAXIS: Clock angle of H+ SW
  UNITS: degrees
  VALIDMIN: 0
  VALIDMAX: 360
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  DELTA_PLUS_VAR: proton_sw_clock_angle_uncert
  DELTA_MINUS_VAR: proton_sw_clock_angle_uncert
  SCALEMIN: 0
  SCALEMAX: 360
proton_sw_clock_angle_uncert:
  NAME: proton_sw_clock_angle_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Proton solar wind clock angle uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Proton Solar Wind Clock Angle Uncertainty
  FORMAT: F19.3
  UNITS: degrees
  VALIDMIN: 0
  VALIDMAX: 360
  FILLVAL: -1.000000e+31
  LABLAXIS: H+ SW clock angle uncertainty
proton_sw_deflection_angle:
  NAME: proton_sw_deflection_angle
  DATA_TYPE: CDF_REAL4
  CATDESC: Deflection angle of proton solar wind
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Deflection Angle Of Proton Solar Wind
  FORMAT: F19.3
  LABLAXIS: H+ SW deflection angle
  UNITS: degrees
  VALIDMIN: 0
  VALIDMAX: 180
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  DELTA_PLUS_VAR: proton_sw_deflection_angle_uncert
  DELTA_MINUS_VAR: proton_sw_deflection_angle_uncert
  SCALEMIN: 0
  SCALEMAX: 10
proton_sw_deflection_angle_uncert:
  NAME: proton_sw_deflection_angle_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Proton solar wind deflection angle uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Proton Solar Wind Deflection Angle Uncertainty
  FORMAT: F19.3
  UNITS: degrees
  VALIDMIN: 0
  VALIDMAX: 360
  FILLVAL: -1.000000e+31
  LABLAXIS: H+ SW deflection angle uncertainty
alpha_sw_speed:
  NAME: alpha_sw_speed
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind speed
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Alpha Solar Wind Speed
  FORMAT: F19.3
  LABLAXIS: Alpha solar wind speed
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
  SCALETYP: linear
  DELTA_PLUS_VAR: alpha_sw_speed_uncert
  DELTA_MINUS_VAR: alpha_sw_speed_uncert
  SCALEMIN: 0
  SCALEMAX: 1000
alpha_sw_speed_uncert:
  NAME: alpha_sw_speed_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind speed uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Alpha Solar Wind Speed Uncertainty
  FORMAT: F19.3
  UNITS: km/s
  VALIDMIN: 0
  VALIDMAX: 10000
  FILLVAL: -1.000000e+31
  LABLAXIS: Alpha SW speed uncertainty
alpha_sw_temperature:
  NAME: alpha_sw_temperature
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind temperature
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Alpha Solar Wind Temperature
  FORMAT: F19.3
  LABLAXIS: Alpha SW temperature
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 28000000
  FILLVAL: -1.000000e+31
  SCALETYP: log
  DELTA_PLUS_VAR: alpha_sw_temperature_uncert
  DELTA_MINUS_VAR: alpha_sw_temperature_uncert
  SCALEMIN: 4000
  SCALEMAX: 960000
alpha_sw_temperature_uncert:
  NAME: alpha_sw_temperature_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind temperature uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Alpha Solar Wind Temperature Uncertainty
  FORMAT: F19.3
  UNITS: K
  VALIDMIN: 0
  VALIDMAX: 28000000
  FILLVAL: -1.000000e+31
  LABLAXIS: Alpha SW temperature uncertainty
alpha_sw_density:
  NAME: alpha_sw_density
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind density
  DEPEND_0: epoch
  VAR_TYPE: data
  RECORD_VARYING: RV
  DISPLAY_TYPE: time_series
  VARIABLE_PURPOSE: PRIMARY_VAR,SUMMARY
  FIELDNAM: Alpha Solar Wind Density
  FORMAT: F19.3
  LABLAXIS: Alpha SW density
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 100
  FILLVAL: -1.000000e+31
  SCALETYP: log
  DELTA_PLUS_VAR: alpha_sw_density_uncert
  DELTA_MINUS_VAR: alpha_sw_density_uncert
  SCALEMIN: 0.001
  SCALEMAX: 5
alpha_sw_density_uncert:
  NAME: alpha_sw_density_uncert
  DATA_TYPE: CDF_REAL4
  CATDESC: Alpha solar wind density uncertainty
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Alpha Solar Wind Density Uncertainty
  FORMAT: F19.3
  UNITS: cm!E-3!N
  VALIDMIN: 0
  VALIDMAX: 100
  FILLVAL: -1.000000e+31
  LABLAXIS: Alpha SW density uncertainty
swp_flags:
  NAME: swp_flags
  DATA_TYPE: CDF_UINT2
  CATDESC: Quality flags for SWAPI L3a
  DEPEND_0: epoch
  VAR_TYPE: support_data
  RECORD_VARYING: RV
  FIELDNAM: Quality Flags for SWAPI L3a
  FORMAT: I5
  UNITS: ' '
  VALIDMIN: 0
  VALIDMAX: 65534
  FILLVAL: 65535
  LABLAXIS: Quality flags for SWAPI L3a