support_data: &support_data
  VAR_TYPE: support_data
  DISPLAY_TYPE: no_plot
  RECORD_VARYING: NRV

primary_data_variable: &primary_data_variable
  VAR_TYPE: data
  VARIABLE_PURPOSE: primary var, summary
  DEPEND_0: epoch
  RECORD_VARYING: RV
  DISPLAY_TYPE: spectrogram
  SCALETYP: linear

float_data: &float_data
  DATA_TYPE: CDF_FLOAT
  FORMAT: F15.3
  VALIDMIN: 0
  VALIDMAX: 10000000000
  FILLVAL: -1.000000E+31

epoch:
  NAME: epoch
  CATDESC: Time, number of nanoseconds since J2000 with leap seconds included
  VAR_TYPE: support_data
  DISPLAY_TYPE: no_plot
  DATA_TYPE: CDF_TIME_TT2000
  FIELDNAM: Epoch
  RECORD_VARYING: RV
  LABLAXIS: epoch
  UNITS: ns
  VALIDMIN: 2010-01-01T00:00:00.000000000
  VALIDMAX: 2099-12-31T00:00:00.000000000
  FILLVAL: 9999-12-31T23:59:59.999999999
  SCALETYP: linear
  TIME_BASE: J2000
  TIME_SCALE: TT
  DELTA_PLUS_VAR: epoch_delta
  DELTA_MINUS_VAR: epoch_delta
  MONOTON: INCREASE
  REFERENCE_POSITION: Rotating Earth Geoid
  SI_CONVERSION: 1e-9>seconds

epoch_delta:
  <<: *support_data
  NAME: epoch_delta
  CATDESC: epoch_DELTA
  RECORD_VARYING: RV
  FIELDNAM: epoch_delta
  DATA_TYPE: CDF_INT8
  FORMAT: I19
  UNITS: ns
  VALIDMIN: 0
  VALIDMAX: 86000000000000
  FILLVAL: -9223372036854775808
  SCALETYP: linear
  SCALEMIN: 0
  SCALEMAX: 86000000000000
  SI_CONVERSION: 1e-9>seconds

energy_h:
  <<: *support_data
  <<: *float_data
  NAME: energy_h
  CATDESC: H energy bins
  FIELDNAM: H energy
  LABLAXIS: H energy
  UNITS: MeV/nuc
  DELTA_PLUS_VAR: energy_h_plus
  DELTA_MINUS_VAR: energy_h_minus

energy_h_plus:
  <<: *support_data
  <<: *float_data
  NAME: energy_h_plus
  CATDESC: H energy bin delta plus
  FIELDNAM: H energy delta plus
  LABLAXIS: H energy plus
  UNITS: MeV/nuc

energy_h_minus:
  <<: *support_data
  <<: *float_data
  NAME: energy_h_minus
  CATDESC: H energy bin delta minus
  FIELDNAM: H energy delta minus
  LABLAXIS: H energy minus
  UNITS: MeV/nuc

energy_cno:
  <<: *support_data
  <<: *float_data
  NAME: energy_cno
  CATDESC: CNO energy bins
  FIELDNAM: CNO energy
  LABLAXIS: CNO energy
  UNITS: MeV/nuc
  DELTA_PLUS_VAR: energy_cno_plus
  DELTA_MINUS_VAR: energy_cno_minus

energy_cno_plus:
  <<: *support_data
  <<: *float_data
  NAME: energy_cno_plus
  CATDESC: CNO energy bin delta plus
  FIELDNAM: CNO energy delta plus
  LABLAXIS: CNO energy plus
  UNITS: MeV/nuc

energy_cno_minus:
  <<: *support_data
  <<: *float_data
  NAME: energy_cno_minus
  CATDESC: CNO energy bin delta minus
  FIELDNAM: CNO energy delta minus
  LABLAXIS: CNO energy minus
  UNITS: MeV/nuc

energy_fe:
  <<: *support_data
  <<: *float_data
  NAME: energy_fe
  CATDESC: Fe energy bins
  FIELDNAM: Fe energy
  LABLAXIS: Fe energy
  UNITS: MeV/nuc
  DELTA_PLUS_VAR: energy_fe_plus
  DELTA_MINUS_VAR: energy_fe_minus

energy_fe_plus:
  <<: *support_data
  <<: *float_data
  NAME: energy_fe_plus
  CATDESC: Fe energy bin delta plus
  FIELDNAM: Fe energy delta plus
  LABLAXIS: Fe energy plus
  UNITS: MeV/nuc

energy_fe_minus:
  <<: *support_data
  <<: *float_data
  NAME: energy_fe_minus
  CATDESC: Fe energy bin delta minus
  FIELDNAM: Fe energy delta minus
  LABLAXIS: Fe energy minus
  UNITS: MeV/nuc

energy_he3he4:
  <<: *support_data
  <<: *float_data
  NAME: energy_he3he4
  CATDESC: He3He4 energy bins
  FIELDNAM: He3He4 energy
  LABLAXIS: He3He4 energy
  UNITS: MeV/nuc
  DELTA_PLUS_VAR: energy_he3he4_plus
  DELTA_MINUS_VAR: energy_he3he4_minus

energy_he3he4_plus:
  <<: *support_data
  <<: *float_data
  NAME: energy_he3he4_plus
  CATDESC: He3He4 energy bin delta plus
  FIELDNAM: He3He4 energy delta plus
  LABLAXIS: He3He4 energy plus
  UNITS: MeV/nuc

energy_he3he4_minus:
  <<: *support_data
  <<: *float_data
  NAME: energy_he3he4_minus
  CATDESC: He3He4 energy bin delta minus
  FIELDNAM: He3He4 energy delta minus
  LABLAXIS: He3He4 energy minus
  UNITS: MeV/nuc

pitch_angle:
  <<: *support_data
  <<: *float_data
  NAME: pitch_angle
  CATDESC: Pitch angle bins
  FIELDNAM: Pitch Angle
  LABLAXIS: Pitch Angle
  UNITS: degrees
  DELTA_PLUS_VAR: pitch_angle_delta
  DELTA_MINUS_VAR: pitch_angle_delta

pitch_angle_delta:
  <<: *support_data
  <<: *float_data
  NAME: pitch_angle_delta
  CATDESC: Pitch angle bin delta
  FIELDNAM: Pitch angle delta
  LABLAXIS: Pitch angle delta
  UNITS: degrees

gyrophase:
  <<: *support_data
  <<: *float_data
  NAME: gyrophase
  CATDESC: Gyrophase bins
  FIELDNAM: Gyrophase
  LABLAXIS: Gyrophase
  UNITS: degrees
  DELTA_PLUS_VAR: gyrophase_delta
  DELTA_MINUS_VAR: gyrophase_delta

gyrophase_delta:
  <<: *support_data
  <<: *float_data
  NAME: gyrophase_delta
  CATDESC: Gyrophase bin delta
  FIELDNAM: Gyrophase delta
  LABLAXIS: Gyrophase delta
  UNITS: degrees

h_intensity_by_pitch_angle:
  <<: *primary_data_variable
  <<: *float_data
  NAME: h_intensity_by_pitch_angle
  DEPEND_1: energy_h
  DEPEND_2: pitch_angle
  CATDESC: H intensity binned by pitch angle
  FIELDNAM: H Intensity
  LABLAXIS: H Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_h_label
  LABL_PTR_2: pitch_angle_label

h_intensity_by_pitch_angle_and_gyrophase:
  <<: *primary_data_variable
  <<: *float_data
  NAME: h_intensity_by_pitch_angle_and_gyrophase
  DEPEND_1: energy_h
  DEPEND_2: pitch_angle
  DEPEND_3: gyrophase
  CATDESC: H intensity binned by pitch angle and gyrophase
  FIELDNAM: H Intensity
  LABLAXIS: H Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_h_label
  LABL_PTR_2: pitch_angle_label
  LABL_PTR_3: gyrophase_label

he4_intensity_by_pitch_angle:
  <<: *primary_data_variable
  <<: *float_data
  NAME: he4_intensity_by_pitch_angle
  DEPEND_1: energy_he3he4
  DEPEND_2: pitch_angle
  CATDESC: He3He4 intensity binned by pitch angle
  FIELDNAM: He3He4 Intensity
  LABLAXIS: He3He4 Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_he3he4_label
  LABL_PTR_2: pitch_angle_label

he4_intensity_by_pitch_angle_and_gyrophase:
  <<: *primary_data_variable
  <<: *float_data
  NAME: he4_intensity_by_pitch_angle_and_gyrophase
  DEPEND_1: energy_he3he4
  DEPEND_2: pitch_angle
  DEPEND_3: gyrophase
  CATDESC: He3He4 intensity binned by pitch angle and gyrophase
  FIELDNAM: He3He4 Intensity
  LABLAXIS: He3He4 Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_he3he4_label
  LABL_PTR_2: pitch_angle_label
  LABL_PTR_3: gyrophase_label

cno_intensity_by_pitch_angle:
  <<: *primary_data_variable
  <<: *float_data
  NAME: cno_intensity_by_pitch_angle
  DEPEND_1: energy_cno
  DEPEND_2: pitch_angle
  CATDESC: CNO intensity binned by pitch angle
  FIELDNAM: CNO Intensity
  LABLAXIS: CNO Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_cno_label
  LABL_PTR_2: pitch_angle_label

cno_intensity_by_pitch_angle_and_gyrophase:
  <<: *primary_data_variable
  <<: *float_data
  NAME: cno_intensity_by_pitch_angle_and_gyrophase
  DEPEND_1: energy_cno
  DEPEND_2: pitch_angle
  DEPEND_3: gyrophase
  CATDESC: CNO intensity binned by pitch angle and gyrophase
  FIELDNAM: CNO Intensity
  LABLAXIS: CNO Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_cno_label
  LABL_PTR_2: pitch_angle_label
  LABL_PTR_3: gyrophase_label

fe_intensity_by_pitch_angle:
  <<: *primary_data_variable
  <<: *float_data
  NAME: fe_intensity_by_pitch_angle
  DEPEND_1: energy_fe
  DEPEND_2: pitch_angle
  CATDESC: Fe intensity binned by pitch angle
  FIELDNAM: Fe Intensity
  LABLAXIS: Fe Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_fe_label
  LABL_PTR_2: pitch_angle_label

fe_intensity_by_pitch_angle_and_gyrophase:
  <<: *primary_data_variable
  <<: *float_data
  NAME: fe_intensity_by_pitch_angle_and_gyrophase
  DEPEND_1: energy_fe
  DEPEND_2: pitch_angle
  DEPEND_3: gyrophase
  CATDESC: Fe intensity binned by pitch angle and gyrophase
  FIELDNAM: Fe Intensity
  LABLAXIS: Fe Intensity
  UNITS: 1/(cm^2 s MeV/nuc sr)
  LABL_PTR_1: energy_fe_label
  LABL_PTR_2: pitch_angle_label
  LABL_PTR_3: gyrophase_label

energy_h_label:
  NAME: energy_h_label
  CATDESC: Label for H energy
  FIELDNAM: H Energy Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '

energy_cno_label:
  NAME: energy_cno_label
  CATDESC: Label for CNO energy
  FIELDNAM: CNO Energy Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '

energy_fe_label:
  NAME: energy_fe_label
  CATDESC: Label for Fe energy
  FIELDNAM: Fe Energy Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '

energy_he3he4_label:
  NAME: energy_he3he4_label
  CATDESC: Label for He3He4 energy
  FIELDNAM: He3He4 Energy Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '

pitch_angle_label:
  NAME: pitch_angle_label
  CATDESC: Label for pitch angle
  FIELDNAM: Pitch Angle Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '

gyrophase_label:
  NAME: gyrophase_label
  CATDESC: Label for gyrophase
  FIELDNAM: Gyrophase Label
  DATA_TYPE: CDF_CHAR
  FORMAT: a20
  VAR_TYPE: metadata
  FILLVAL: ' '




